<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Kedai Asian</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Katalog Restaurant" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css"
    />
  </head>

  <body>
    <!-- skip-link -->
    <a href="#main-content" class="skip-link">Go to content</a>
    <header class="hero">
      <nav>
        <div class="menu-hp">
          <div>
            <h1>Kedai Asian Food</h1>
          </div>

          <div class="menu-container">
            <button
              class="menu"
              aria-label="button menu dropdown on mobile"
              type="button"
            >
              <span class="fa fa-bars"></span>
            </button>
          </div>
        </div>

        <ul class="nav-list">
          <li class="nav-item"><a href="/">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/irham-maulana/">About Us</a></li>
          </li>
        </ul>
      </nav>

      <!-- hero content -->
      <div tabindex="0" class="hero__text">
        <h1 class="hero__title">Kedai dengan Makanan Khas Indonesia</h1>

        <p class="hero__subtitle">
          Kedai dengan Makanan Khas Indonesai </p>
          <p class="hero__subtitle">
            Asian Food, rumah makan yang menghidangkan makanan khas Indonesia dengan cita rasa yang khas, membawa Anda dalam perjalanan kuliner mengungkap pesona kuliner Nusantara. Setiap hidangan kami dipersiapkan dengan penuh cinta dan kesempurnaan, menggabungkan rempah-rempah tradisional dan bahan segar yang autentik.
        </p>

        <a href="#main-content" class="btn">Read More</a>
      </div>
    </header>


    <main>
      <div id="main-content" class="main-content__container">
        <h2 tabindex="0" class="main-content__title">Explore Restaurant</h2>
        <section id="explore-restaurant"></section>
      </div>
    </main>

    <!-- footer -->
    <footer tabindex="0">
      <ul>
        <li class="footer-social">
          <a href="#"><img src="images/heros/facebook.png" alt="Logo" width="20" height="20">
          <p>Kedai Asian</p></a>
          <a href="#"><img src="images/heros/twitter.png" alt="Logo" width="20" height="20">
          <p>Kedai Asian</p></a>
          <a href="#"><img src="images/heros/instagram.png" alt="Logo" width="20" height="20">
            <p>Kedai Asian</p></a>
          <li>copyright © 2023 - Kedai Asian</li>
      </ul>
    </footer>
  </body>
</html>
